.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  height: 40px;
  width: 200px;
  border: 2px solid #9c02f5;
}

.rgb {
  width: 200px;
  height: 40px;
  border: 4px solid black;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px; 
  color: #fff;
}